---
import ContentContainer from "@shared/containers/ContentContainer.astro";

interface Module {
  name: string;
  description: string;
  opcional?: boolean;
  published?: boolean;
}

export const modules: Module[] = [
  {
    name: "Configuração inicial do ambiente e ferramentas",
    description:
      "Configure seu ambiente de desenvolvimento e instale as ferramentas necessárias",
    published: true,
  },
  {
    name: "Introdução ao Angular",
    description: "Aprenda o básico para começar a dominar o framework",
    opcional: true,
    published: true,
  },
  {
    name: "Estruturação do projeto",
    description: "Crie a base inicial do projeto",
    published: false,
  },
  {
    name: "CRUD Inteligente",
    description:
      "Implemente formulários, listagem de dados e navegação com rotas",
    published: false,
  },
  {
    name: "Fluxo de autenticação",
    description:
      "Implemente autenticação com guards, interceptors e gerenciamento de estado",
    published: false,
  },
  {
    name: "Dominando diretivas",
    description: "Aprenda a criar diretivas para facilitar seu trabalho",
    published: false,
  },
  {
    name: "Dominando pipes",
    description: "Use pipes para formatar e transformar dados",

    published: false,
  },
  {
    name: "Turbinando Layout",
    description: "Aprenda a criar layouts profissionais com Angular Material",
    published: false,
  },
  {
    name: "Dominando Resource API",
    description:
      "Implemente operações assíncronas usando Signals e Resource API",
    published: false,
  },
  {
    name: "Defer Block na prática",
    description: "Aprenda a carregar componentes pesados de forma otimizada",
    published: false,
  },
  {
    name: "Utilizando Zoneless",
    description:
      "Diga adeus ao Zone.js e deixe o Angular mais leve e performático",
    published: false,
  },
];
---

<ContentContainer>
  <div class="flex justify-center">
    <div class="w-full max-w-[1000px]">
      <h2 class="text-4xl font-bold text-center mb-16 lg:mb-8">
        Confira em detalhes os módulos do curso
      </h2>

      <p class="mb-8 lg:mb-2 text-center text-lg">
        Cada módulo evolui um projeto real completo, colocando em prática cada
        recurso moderno do <span class="angular-font-color">Angular 20</span>.
      </p>

      <p class="mb-8 lg:mb-0 text-center text-lg">
        Você aprende na prática a estruturar projetos com arquitetura escalável,
        organizar o código como grandes empresas fazem, criar fluxos de
        autenticação, CRUDs completos, gerenciamento de estado, utilização de
        Signals, utilização de diretivas de forma inteligente e otimizações de
        performance usando Zoneless.
      </p>
    </div>
  </div>

  <div class="flex flex-col items-center mt-16">
    <div
      class="w-full max-w-[800px] flex flex-col items-center border rounded-lg"
    >
      {
        modules.map((module, index, array) => (
          <div
            class="w-full flex flex-col bg-white"
            class:list={[
              { "rounded-tl-lg rounded-tr-lg": index === 0 },
              { "rounded-bl-lg rounded-br-lg": index === array.length - 1 },
            ]}
          >
            <div class="p-4 w-full flex flex-col items-center lg:flex-row">
              <div class="text-center lg:text-start">
                <strong>{module.name}</strong>
                <div>{module.description}</div>
              </div>
              <div class="flex justify-center mt-2 lg:ml-auto">
                {module.opcional === true && (
                  <div class="badge badge-primary mr-2">Extra</div>
                )}
                {/* {module.published === true && (
                  <div class="badge badge-success mr-2">Publicado</div>
                )}
                {module.published === false && (
                  <div class="badge badge-info mr-2">Em gravação</div>
                )} */}
              </div>
            </div>
            {index < array.length - 1 && (
              <div class="w-full h-px bg-gray-200" />
            )}
          </div>
        ))
      }
    </div>
  </div>
</ContentContainer>
