<div class="p-3 flex ml-auto badge">
  <img class="p-2 mr-3" src="images/social/discord.svg" alt="Discord" />
  <img class="p-2 mr-3" src="images/social/linkedin.svg" alt="LinkedIn" />
  <img class="p-2 mr-3" src="images/social/youtube.svg" alt="Youtube" />
  <img class="p-2" src="images/social/mic.svg" alt="Podcast" />
</div>

<style lang="scss">
    .badge {
      border-width: 1px;
      border-style: solid;
      border-color: rgba(255, 255, 255, .16);
      border-radius: 100px;
      backdrop-filter: blur(50px);
      // position: fixed;
      // top: 52px;
      // right: 120px;
    }
  </style>
  