---
import DesktopHeader from "./DesktopHeader.astro";
import MobileHeader from "./MobileHeader.astro";
---

<header>
  <div class="hidden lg:block">
    <DesktopHeader />
  </div>
  <div class="block lg:hidden">
    <MobileHeader />
  </div>
</header>
