---
const { icon } = Astro.props;
---

<div class="w-full min-w-[300px] max-w-[375px] min-h-[415px] border rounded-lg p-8">
  <div class="flex flex-wrap">
    <div>
      <div class="flex justify-center w-full mb-8">
        <i class={`bi ${icon} text-5xl text-primary`}></i>
      </div>

      <h3 class="text-xl font-bold text-center pb-4">
        <slot name="title" />
      </h3>

      <slot name="description" />
    </div>
  </div>
</div>
