---
import ScrollToPricesButton from "@partials/testes-automatizados/shared/scroll-to-prices-button.astro";
import Details from "./details.astro";
import RealApplication from "./real-application.astro";
---

<RealApplication />

<div class="flex justify-center mt-16">
  <Details />
</div>

<div class="flex justify-center mt-16">
  <ScrollToPricesButton />
</div>
