---
import ContentContainer from "@shared/containers/ContentContainer.astro";
import ScrollToPricesButton from "./shared/scroll-to-prices-button.astro";
---

<ContentContainer>
    <!-- <LastChanceAlert /> -->

    <div
      class="h-[calc(100vh_-_105px)] xl:h-[calc(100vh_-_90px)] flex flex-col justify-center relative -mt-6"
    >
      <div class="flex justify-center xl:justify-start z-20">
        <div
          class="w-full max-w-[600px] flex flex-col justify-center text-center xl:text-start"
        >
          <h1 class="text-5xl font-bold leading-tight">
            O Curso Mais Completo De Testes Automatizados Com <span class="angular-font-color"
              >Angular</span
            >
          </h1>

          <p class="text-xl my-16 xl:my-12 text-black">
            Teste seus componentes, serviços e integrações com confiança. Chega
            de deploy no escuro!
          </p>

          <div class="flex justify-center xl:justify-start">
            <ScrollToPricesButton />
          </div>

          <div class="py-4 text-xs text-gray-500">
            <div class="font-bold"><span class="text-green-600">Compra segura</span> com <span class="text-green-600">garantia incondicional de 7 dias</span>.</div>
            <div class="font-bold">
              Receba o seu acesso imediatamente após a confirmação de pagamento.
            </div>
          </div>
        </div>
      </div>
      <img
        src="/images/courses/testes-automatizados/banner-image.webp"
        class="hidden xl:block max-w-[650px] absolute w-full opacity-10 xl:opacity-100 xl:right-0 rounded-bl-[280px] rounded-br-[120px] -mt-[80px]"
      />

      <div class="flex justify-center bottom-0 absolute w-full">
        <i class="bi bi-arrow-down-circle text-2xl text-primary animate-bounce"
        ></i>
      </div>
    </div>
  </ContentContainer>