---
import ContentContainer from "@shared/containers/ContentContainer.astro";
---

<ContentContainer>
  <div class="flex justify-center">
    <div class="w-full">
      <h2 class="text-4xl font-bold text-center mb-16">Sobre o instrutor</h2>

      <div class="flex justify-center flex-wrap gap-16">
        <img
          src="/images/courses/testes-automatizados/instructor.jpg"
          loading="lazy"
          class="w-[200px] h-[200px] rounded-full"
          alt="Instructor"
        />

        <div class="flex flex-col justify-center">
          <h3 class="text-3xl font-bold text-center md:text-start">
            Henrique Custódia
          </h3>
          <p class="text-lg max-w-md mt-4 text-center md:text-start">
            Arquiteto Frontend, especialista Angular com 10+ anos de
            experiência, criador de conteúdo, instrutor e fundador da Code
            Dimension!
          </p>
          <div class="mt-4 flex justify-center md:justify-start">
            <a
              class="-ml-2"
              href="https://www.linkedin.com/in/henriquecustodia/"
              target="_blank"
            >
              <img
                src="/images/social/linkedin.svg"
                class="w-[50px]"
                alt="LinkedIn"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ContentContainer>
