---
import ContentContainer from "@shared/containers/ContentContainer.astro";
import ScrollToPricesButton from "./shared/scroll-to-prices-button.astro";

interface Review {
  text: string;
  author: string;
  role: string;
  avatar: string;
}

const reviews: Review[] = [
  {
    text: "O curso de testes unitários da code é único no mercado, você não vai encontrar em lugar nenhum na língua portuguesa um curso tão completo sobre testes é realmente algo único. O Henrique o instrutor do curso tem uma didática excelente ele ensina e mostra os conceitos e ta sempre atualizado com as novidades do Angular e do universo de Desenvolvimento Web. Eu ja recomendei o curso para alguns colegas e devs do meu time.",
    author: "Matheus Bento de Pereira",
    role: "Senior Software Engineer - Tech Lead",
    avatar:
      "/images/courses/testes-automatizados/students/matheus-bento-de-pereira.jpeg",
  },
  {
    text: "Quero agradecer pelo curso Testes Automatizados com Angular. Foi uma experiência excelente! O conteúdo é muito bem estruturado, direto ao ponto e aborda com profundidade os conceitos fundamentais. Eu já tinha experiência com Angular, mas testes sempre foram um desafio. Após o curso, consegui destravar diversos pontos, entendi melhor as boas práticas e agora me sinto muito mais seguro para escrever testes. Parabéns pelo ótimo trabalho, fez toda a diferença na minha trajetória!",
    author: "Vitor Santos",
    role: "Desenvolvedor de Software",
    avatar: "/images/courses/testes-automatizados/students/Vitor-Santos.jpeg",
  },
  {
    text: "O professor Henrique demonstra excelente domínio do conteúdo e conduz as aulas com clareza e segurança. Sua experiência prática enriquece significativamente o curso, proporcionando aos alunos uma visão mais aplicada da teoria. Recomendo fortemente a aquisição do curso — certamente será uma experiência enriquecedora.",
    author: "Farley Souza",
    role: "Desenvolvedor Full Stack .NET",
    avatar: "/images/courses/testes-automatizados/students/Farley-Souza.jpeg",
  },
  {
    text: "O curso é maravilhoso, completo, com ele eu consegui construir uma boa base em testes unitários no Angular utilizando o jest, além disso, foi bem proveitoso.",
    author: "Pedro Santiago",
    role: "Front-End Developer",
    avatar: "/images/courses/testes-automatizados/students/pedro-santiago.jpeg",
  },
  {
    text: "Muito bom aprender conteúdo avançado com profissionais de uma maneira muito didática. O conteúdo do curso já está sendo aplicado no meu trabalho, muito útil.",
    author: "Bruno Anjos",
    role: "Senior FullStack Engineer",
    avatar: "/images/courses/testes-automatizados/students/Bruno-Anjos.jpg",
  },
  {
    text: "Se você quer saber todos os segredos dos testes, do TDD e do end-to-end com uma metodologia tranquila e bem minuciosa façam esse curso. Estou gostando muito!",
    author: "Luciana Moura Rodrigues",
    role: "Front-end Developer",
    avatar:
      "/images/courses/testes-automatizados/students/Luciana-Moura-Rodrigues.jpg",
  },
  {
    text: "Acho que o curso de testes automatizados com Angular está fantástico pois é difícil encontrar cursos sobre testes com Angular junto com TDD.",
    author: "Flavio Milani",
    role: "IT Engineering Analyst",
    avatar: "/images/courses/testes-automatizados/students/Flavio-Milani.jpg",
  },
];
---

<ContentContainer>
  <div class="flex justify-center">
    <div class="w-full">
      <h2 class="section-title text-center mb-8">
        Veja o que os nossos alunos têm a dizer
      </h2>

      <swiper-container
        class="mt-20"
        pagination="false"
        effect="slide"
        grab-cursor="true"
        centered-slides="false"
        autoplay="true"
        loop="true"
        init="false"
      >
        {
          reviews.map((review) => {
            return (
              <swiper-slide class="card bg-base-100 m-2 min-h-[450px]">
                <div class="card-body border rounded-lg">
                  <p class="mb-8">{review.text}</p>
                  <div class="flex items-center space-x-4 mt-auto">
                    <img
                      class="rounded w-14"
                      src={review.avatar}
                      alt={"Aluno(a) " + review.author}
                    />
                    <div class="flex flex-col">
                      <strong class="text-base">{review.author}</strong>
                      <div class="text-xs">{review.role}</div>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            );
          })
        }
      </swiper-container>
    </div>
  </div>

  <div class="flex justify-center mt-16">
    <ScrollToPricesButton />
  </div>
</ContentContainer>

<script>
  import { register } from "swiper/element/bundle";
  // import function to register Swiper custom elements
  const swiperEl: any = document.querySelector("swiper-container");

  // evita com que o código rode em outras paginas que o swiper não esteja carregado
  if (swiperEl) {
    // register Swiper custom elements
    register();

    Object.assign(swiperEl, {
      slidesPerView: 1,
      breakpoints: {
        650: {
          slidesPerView: 2,
        },
        980: {
          slidesPerView: 3,
        },
      },
    });

    swiperEl.initialize();
  }
</script>
