---
import ContentContainer from "../../shared/containers/ContentContainer.astro";
---

<section class="bg-website">
  <ContentContainer>
    <div class="flex flex-col items-center">
      <div class="flex flex-col max-w-[500px] w-full">
        
        <div class="flex justify-center">
          <img
            class="w-[300px]"
            src="/images/logomark/logo-cd-full.svg"
            alt="Youtube"
          />
        </div>

        <div class="flex justify-center mt-20">
          <div class="flex flex-col">
            <h3 class="text-lg font-bold text-light">Sobre</h3>

            <a
              class="flex mt-6 text-light hover:decoration-light hover:decoration-solid hover:underline hover:underline-offset-2"
              href="https://blog.codedimension.com.br"
            >
              Blog
            </a>

            <a
              class="flex mt-6 text-light hover:decoration-light hover:decoration-solid hover:underline hover:underline-offset-2"
              href="https://codedimension.substack.com"
            >
              Assine nossa Newsletter
            </a>
          </div>

          <div class="flex flex-col ml-auto">
            <h3 class="text-lg font-bold text-light">Rede Sociais</h3>

            <a class="flex mt-6" href="https://www.youtube.com/@code.dimension">
              <img
                class="w-[25px]"
                src="/images/social/youtube.svg"
                alt="Youtube"
              />
              <span
                class="text-light hover:decoration-light hover:decoration-solid hover:underline hover:underline-offset-2 ml-1"
                >YouTube</span
              >
            </a>

            <a class="flex mt-4" href="https://discord.gg/VFNmgxEHXF">
              <img
                class="w-[25px]"
                src="/images/social/discord.svg"
                alt="Discord"
              />
              <span
                class="text-light hover:decoration-light hover:decoration-solid hover:underline hover:underline-offset-2 ml-1"
                >Discord</span
              >
            </a>

            <a
              class="flex mt-4"
              href="https://www.linkedin.com/company/code-dimension/"
            >
              <img
                class="w-[25px]"
                src="/images/social/linkedin.svg"
                alt="LinkedIn"
              />
              <span
                class="text-light hover:decoration-light hover:decoration-solid hover:underline hover:underline-offset-2 ml-1"
                >LinkedIn</span
              >
            </a>

            <a
              class="flex mt-4"
              href="https://www.instagram.com/codedimension_/"
            >
              <img
                class="w-[25px]"
                src="/images/social/instagram.svg"
                alt="Instagram"
              />
              <span
                class="text-light hover:decoration-light hover:decoration-solid hover:underline hover:underline-offset-2 ml-1"
                >Instagram</span
              >
            </a>
          </div>
        </div>
      </div>

      <div
        id="copyright"
        class="flex justify-center mt-20 text-light font-bold"
      >
      </div>
    </div>
  </ContentContainer>
</section>

<script>
  const el = document.querySelector("#copyright");

  const currentYear = new Date().getFullYear();

  if (el) {
    el.textContent = `Code Dimension © ${currentYear}`;
  }
</script>
