---
import ContentContainer from "../../shared/containers/ContentContainer.astro";
---

<section class="bg-code">
    <ContentContainer>
        <div class="flex justify-center">
            Feito com amor por Henrique Custodia
        </div>
    </ContentContainer>
</section>