---
import HowMuchYouSpare from "./how-much-you-spare.astro";
import ScrollToPricesButton from "../../shared/scroll-to-prices-button.astro";
---

<HowMuchYouSpare />

<div class="flex justify-center mt-12">
  <ScrollToPricesButton />
</div>
