---
import ScrollToPricesButton from "@partials/angular-moderno/shared/scroll-to-prices-button.astro";
import HowMuchYouSpare from "./how-much-you-spare.astro";
---

<HowMuchYouSpare />

<div class="flex justify-center mt-12">
  <ScrollToPricesButton />
</div>
