---
import CourseLayout from "@layouts/CourseLayout.astro";
import Banner from "@partials/angular-moderno/sections/banner/Banner.astro";
import RealApplication from "@partials/angular-moderno/sections/real-application/index.astro";
import TheMostUpdated from "@partials/angular-moderno/sections/the-most-updated/index.astro";
import WhatYouWillLearn from "@partials/angular-moderno/sections/what-you-will-learn/index.astro";
import Instructor from "@partials/angular-moderno/sections/instructor/instructor.astro";
import Modules from "@partials/angular-moderno/sections/modules/modules.astro";
import Prices from "@partials/angular-moderno/sections/prices/prices.astro";
import Reviews from "@partials/angular-moderno/sections/reviews/reviews.astro";
import Faq from "@partials/angular-moderno/sections/faq/faq.astro";

const layoutProps = {
  title: "Curso Angular Moderno",
  description:
    "Aprenda todas as novidades do Angular 20 e se torne um desenvolvedor mais produtivo e eficiente no seu dia a dia!",
  url: Astro.url.href,
  image:
    Astro.url.origin +
    "/images/courses/angular-moderno/og-banner-em-breve.webp",
};
---

<CourseLayout {...layoutProps}>
  <Banner />

  <section class="page-section">
    <TheMostUpdated />
  </section>

  <section class="page-section">
    <WhatYouWillLearn />
  </section>

  <section class="page-section">
    <RealApplication />
  </section>

  <section class="page-section">
    <Instructor />
  </section>

  <section class="page-section">
    <Reviews />
  </section>

  <section class="page-section">
    <Modules />
  </section>

  <section class="page-section" scroll-target="prices">
    <Prices />
  </section>

  <section class="page-section">
    <Faq />
  </section>
</CourseLayout>
