---
import CourseLayout from "@layouts/CourseLayout.astro";
import ContentContainer from "@shared/containers/ContentContainer.astro";
import Instructor from "@partials/testes-automatizados/instructor.astro";
import FeatureList from "@partials/testes-automatizados/feature-list.astro";
import Details from "@partials/testes-automatizados/details.astro";
import Modules from "@partials/testes-automatizados/modules.astro";
import Prices from "@partials/testes-automatizados/prices.astro";
import ScrollToPricesBtn from "@partials/testes-automatizados/shared/scroll-to-prices-button.astro";
import Faq from "@partials/testes-automatizados/faq.astro";
import LastChanceAlert from "@partials/testes-automatizados/shared/last-chance-alert.astro";
import Reviews from "@partials/testes-automatizados/reviews.astro";
import Banner from "@partials/testes-automatizados/banner.astro";
import Pain from "@partials/testes-automatizados/pain.astro";

const layoutProps = {
  title: "Curso Testes Automatizados com Angular",
  description:
    "Aprenda a criar testes eficientes de verdade com Angular e torne-se um profissional altamente requisitado no mercado!",
  url: Astro.url.href,
  image:
    Astro.url.origin +
    "/images/courses/testes-automatizados/og-curso-testes-automatizados-lancamento.png",
};
---

<CourseLayout {...layoutProps}>
  <Banner />

  <!-- <section class="py-24 bg-gray">
    <TechList />

    <div class="flex justify-center mt-16">
      <ScrollToPricesBtn />
    </div>
  </section> -->

  <section class="py-24">
    <Pain />

    <div class="flex justify-center mt-16">
      <ScrollToPricesBtn />
    </div>
  </section>

  <!-- <section class="py-24">
    <FeatureList />
  </section> -->

  <!-- <section class="py-24 bg-gray">
    <Details />

    <div class="flex justify-center mt-24">
      <ScrollToPricesBtn />
    </div>
  </section> -->

  <section class="py-24">
    <Modules />
  </section>

  <section class="py-24 bg-gray">
    <Instructor />
  </section>

  <section class="py-24">
    <Reviews />
  </section>
  
  <section class="py-24" scroll-target="prices">
    <Prices />
  </section>

  <section class="py-24 bg-gray">
    <Faq />
  </section>
</CourseLayout>
