---
import ContentContainer from "@shared/containers/ContentContainer.astro";

import BrunaSouzaChagas from "./images/bruna-souza-chagas.jpeg";
import BrunoAnjos from "./images/Bruno-Anjos.jpg";
import FarleySouza from "./images/Farley-Souza.jpeg";
import FlavioMilani from "./images/Flavio-Milani.jpg";
import LucianaMouraRodrigues from "./images/Luciana-Moura-Rodrigues.jpg";
import VitorSantos from "./images/Vitor-Santos.jpeg";
import MatheusBentoDePereira from "./images/matheus-bento-de-pereira.jpeg";
import PedroSantiago from "./images/pedro-santiago.jpeg";
import LeonardoHenrique from "./images/Leonardo-Henrique.jpeg";
import CaioRocha from "./images/Caio-Rocha.jpeg";
import AdrianoDutraMagalhaes from "./images/adriano-dutra-magalhaes.jpg";

import { Image } from "astro:assets";

interface Review {
  text: string;
  author: string;
  role: string;
  avatar: ImageMetadata;
}

const reviews: Review[] = [
  {
    text: 'Assisti todas as aulas do curso Angular Moderno até agora, a forma que o Henrique ensina é excelente. Já tenho alguma experiência com as versões mais antigas do Angular, mas mesmo assim, ainda aprendi novos conceitos. Massa demais, de verdade!',
    author: 'Caio Rocha',
    role: 'Front-end Developer | Angular | React',
    avatar: CaioRocha
  },
  {
    text: 'Ficou muuuuuuito bom o conteúdo do curso, foi direto ao ponto, sem muito rodeio pra falar sobre um tópico específico, gostei demais! 🙂 Pequenos vídeos separadinhos com cada tema específico, top demais!',
    author: 'Leonardo Henrique',
    role: 'Desenvolvedor Front-End | Angular',
    avatar: LeonardoHenrique
  },
  {
    text: "O curso de testes unitários da code é único no mercado, você não vai encontrar em lugar nenhum na língua portuguesa um curso tão completo sobre testes é realmente algo único. O Henrique o instrutor do curso tem uma didática excelente ele ensina e mostra os conceitos e ta sempre atualizado com as novidades do Angular e do universo de Desenvolvimento Web. Eu ja recomendei o curso para alguns colegas e devs do meu time.",
    author: "Matheus Bento de Pereira",
    role: "Senior Software Engineer - Tech Lead",
    avatar: MatheusBentoDePereira,
  },
  {
    text: "Quero agradecer pelo curso Testes Automatizados com Angular. Foi uma experiência excelente! O conteúdo é muito bem estruturado, direto ao ponto e aborda com profundidade os conceitos fundamentais. Eu já tinha experiência com Angular, mas testes sempre foram um desafio. Após o curso, consegui destravar diversos pontos, entendi melhor as boas práticas e agora me sinto muito mais seguro para escrever testes. Parabéns pelo ótimo trabalho, fez toda a diferença na minha trajetória!",
    author: "Vitor Santos",
    role: "Desenvolvedor de Software",
    avatar: VitorSantos,
  },
  {
    text: "O professor Henrique demonstra excelente domínio do conteúdo e conduz as aulas com clareza e segurança. Sua experiência prática enriquece significativamente o curso, proporcionando aos alunos uma visão mais aplicada da teoria. Recomendo fortemente a aquisição do curso — certamente será uma experiência enriquecedora.",
    author: "Farley Souza",
    role: "Desenvolvedor Full Stack .NET",
    avatar: FarleySouza,
  },
  {
    text: "Curso de Testes Automatizados Com Angular: sem dúvida, foi o melhor material que já vi sobre o tema, especialmente em português. Recomendo fortemente. Mesmo já trabalhando com testes há mais de dois anos, o curso reforçou bastante as boas práticas e trouxe insights valiosos.",
    author: "Adriano Dutra Magalhães",
    role: "Desenvolvedor web | Angular | C#",
    avatar: AdrianoDutraMagalhaes,
  },
  {
    text: "Curso de Angular Moderno: A mesma qualidade do curso de testes se repete aqui. Os conteúdos vão muito além do básico. Eles abordam problemas reais do dia a dia e mostram soluções que já existem no Angular, mas que muitos acabam não utilizando por falta de conhecimento. A entrega do Henrique está muito acima do esperado. Vale muito a pena!",
    author: "Adriano Dutra Magalhães",
    role: "Desenvolvedor web | Angular | C#",
    avatar: AdrianoDutraMagalhaes,
  },
  {
    text: "O curso é maravilhoso, completo, com ele eu consegui construir uma boa base em testes unitários no Angular utilizando o jest, além disso, foi bem proveitoso.",
    author: "Pedro Santiago",
    role: "Front-End Developer",
    avatar: PedroSantiago,
  },
  {
    text: "Estou gostando bastante do curso. A didática e os exemplos têm me ajudado a desenvolver essa habilidade no meu dia a dia. O conteúdo é completo e bem estruturado. Super recomendo!",
    author: "Bruna Chagas",
    role: "Front End Developer",
    avatar: BrunaSouzaChagas,
  },
  {
    text: "Muito bom aprender conteúdo avançado com profissionais de uma maneira muito didática. O conteúdo do curso já está sendo aplicado no meu trabalho, muito útil.",
    author: "Bruno Anjos",
    role: "Senior FullStack Engineer",
    avatar: BrunoAnjos,
  },
  {
    text: "Se você quer saber todos os segredos dos testes, do TDD e do end-to-end com uma metodologia tranquila e bem minuciosa façam esse curso. Estou gostando muito!",
    author: "Luciana Moura Rodrigues",
    role: "Front-end Developer",
    avatar: LucianaMouraRodrigues,
  },
  {
    text: "Acho que o curso de testes automatizados com Angular está fantástico pois é difícil encontrar cursos sobre testes com Angular junto com TDD.",
    author: "Flavio Milani",
    role: "IT Engineering Analyst",
    avatar: FlavioMilani,
  },
];
---

<ContentContainer>
  <div class="flex justify-center">
    <div class="w-full">
      <h2 class="section-title text-center mb-8">
        Veja o que dizem os alunos da <span class="text-primary"
          >Code Dimension</span
        >
      </h2>

      <swiper-container
        class="mt-20"
        pagination="false"
        effect="slide"
        grab-cursor="true"
        centered-slides="false"
        autoplay="true"
        loop="true"
        init="false"
      >
        {
          reviews.map((review) => {
            return (
              <swiper-slide class="card bg-base-100 m-2 min-h-[450px]">
                <div class="card-body border rounded-lg">
                  <p class="mb-8">{review.text}</p>
                  <div class="flex items-center space-x-4 mt-auto">
                    <Image
                      class="rounded w-14"
                      src={review.avatar}
                      alt={"Aluno(a) " + review.author}
                    />
                    <div class="flex flex-col">
                      <strong class="text-base">{review.author}</strong>
                      <div class="text-xs">{review.role}</div>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            );
          })
        }
      </swiper-container>
    </div>
  </div>

  {
    Astro.slots.has("price-btn") && (
      <div class="flex justify-center mt-16">
        <slot name="price-btn"  />
      </div>
    )
  }
</ContentContainer>

<script>
  import { register } from "swiper/element/bundle";
  // import function to register Swiper custom elements
  const swiperEl: any = document.querySelector("swiper-container");

  // evita com que o código rode em outras paginas que o swiper não esteja carregado
  if (swiperEl) {
    // register Swiper custom elements
    register();

    Object.assign(swiperEl, {
      slidesPerView: 1,
      breakpoints: {
        650: {
          slidesPerView: 2,
        },
        980: {
          slidesPerView: 3,
        },
      },
    });

    swiperEl.initialize();
  }
</script>
