<div role="alert" class="alert bg-black shadow-lg flex flex-col xl:flex-row items-center justify-center">
  <i class="bi bi-rocket text-white"></i>
  <div class="text-center xl:text-start">
    <h3 class="font-bold text-xl text-white"><span class="text-primary">Code Universe</span> vem aí!</h3>
    <div class="text-base text-white">
      Destrave sua evolução com Angular e garanta promoções de <span class="text-primary">até 90% OFF</span> nos nossos cursos!
    </div>
  </div>
  <a
    class="btn btn-primary btn-sm"
    href="/eventos/code-universe/?utm_source=website&utm_medium=organic&utm_campaign=banner">Quero participar</a
  >
</div>
