---
const { items, cssClass, type } = Astro.props;

const icon = type === 'x' ? 'bi-x-lg' : 'bi-check-lg';
const iconColor = type === 'x' ? 'text-error' : 'text-primary';

---

<div class={`flex flex-col items-center xl:items-start space-y-4 ${cssClass}`}>
  {
    items.map((text: string) => (
      <div class="flex">
        <i class={`${icon} ${iconColor} text-xl`} />
        <div class="ml-2" set:html={text} />
      </div>
    ))
  }
</div>
