<div role="alert" class="alert alert-error shadow-lg z-50 relative">
    <i class="bi bi-exclamation-circle-fill hidden md:block"></i>
    <div>
      <h3 class="font-bold">O preço vai subir! </h3>
      <span class="text-sm">Última chance de adquirir esse super curso com <strong>25% de desconto</strong>!</span>
    </div>
    <button class="btn btn-sm" scroll-to="prices">Quero aproveitar!</button>
</div>