---
import ContentContainer from "../../../shared/containers/ContentContainer.astro";
---

<section class="bg-gradient-to-t">
  <ContentContainer>
    <div class="flex justify-center">
      <h1 class="text-[48px] text-light">Por que estudar Angular?</h1>
    </div>

    <div class="flex mt-14 justify-center">
      <div class="flex max-w-[1080px]">
        <div class="flex flex-col justify-center basis-8/12">
          <h3 class="text-[24px] text-light">Popularidade e demanda</h3>

          <p class="text-[16px] text-light mt-8">
            Angular é amplamente adotado e usado por muitas empresas, o que pode
            abrir portas para oportunidades de emprego e projetos interessantes.
          </p>
        </div>

        <div class="flex justify-end basis-4/12">
          <img
            class="w-[250px]"
            src="/images/home/why/corp.svg"
            alt="Big Company Image"
          />
        </div>
      </div>
    </div>

    <div class="flex mt-14 justify-center">
      <div class="flex max-w-[1080px]">
        <div class="flex justify-start basis-4/12">
          <img
            class="w-[250px]"
            src="/images/home/why/tools.svg"
            alt="Big Company Image"
          />
        </div>

        <div class="flex flex-col justify-center basis-8/12">
          <h3 class="text-[24px] text-light">
            Ferramentas e ecossistema robustos
          </h3>

          <p class="text-[16px] text-light mt-8">
            Angular possui um ecossistema rico em ferramentas, bibliotecas e
            recursos adicionais que podem aumentar sua produtividade e facilitar
            o desenvolvimento de aplicativos web.
          </p>
        </div>
      </div>
    </div>

    <div class="flex mt-14 justify-center">
      <div class="flex max-w-[1080px]">
        <div class="flex flex-col justify-center basis-8/12">
          <h3 class="text-[24px] text-light">
            Testabilidade e manutenibilidade
          </h3>

          <p class="text-[16px] text-light mt-8">
            Angular promove a escrita de código testável e modular, facilitando
            a criação de testes automatizados e a manutenção do código ao longo
            do tempo.
          </p>
        </div>

        <div class="flex justify-end basis-4/12">
          <img
            class="w-[250px]"
            src="/images/home/why/test.svg"
            alt="Big Company Image"
          />
        </div>
      </div>
    </div>

    <div class="flex mt-14 justify-center">
      <div class="flex max-w-[1080px]">
        <div class="flex justify-start basis-4/12">
          <img
            class="w-[250px]"
            src="/images/home/why/trust.svg"
            alt="Big Company Image"
          />
        </div>

        <div class="flex flex-col justify-center basis-8/12">
          <h3 class="text-[24px] text-light">Mantido pelo Google</h3>

          <p class="text-[16px] text-light mt-8">
            Angular é mantido pelo Google, o que significa que você terá acesso
            a suporte técnico de alta qualidade e atualizações regulares para
            manter seus conhecimentos atualizados.
          </p>
        </div>
      </div>
    </div>
  </ContentContainer>
</section>

<style></style>
