---
import Layout from "../layouts/Layout.astro";
import Newsletter from "../partials/home/Newsletter.astro";
---

<Layout title="Home">
  <section class="pt-32 lg:pt-56 lg:pb-28 flex justify-center">

    <iframe 
      class="w-full max-w-[780px] h-[1280px]"
      src="https://us21.list-manage.com/contact-form?u=763114d7e532b32f44fb297f9&form_id=7cdc0544cc5d4a061efb2b0087515a1b" frameborder="0"></iframe>
  </section>
</Layout>
