---
import Layout from "../layouts/Layout.astro";
import Banner from "../partials/home/Banner.astro";
import Feedback from "../partials/home/Feedback.astro";
import Newsletter from "../partials/home/Newsletter.astro";
import Youtube from "../partials/home/Youtube.astro";
import Courses from "../partials/home/Courses.astro";
import Numbers from "@partials/home/Numbers.astro";
import First from "@partials/home/First.astro";
---

<Layout title="Home">
  <Banner />
  
  <section id="courses-section" class="py-32 lg:py-48 bg-[#f3f3f3]">
    <Numbers />
  </section>

  <section id="courses-section" class="py-32 lg:py-48">
    <First />
  </section>

  <section id="courses-section" class="py-32 lg:py-48">
    <Courses />
  </section>

  <!-- <section class="py-32 lg:py-48 ">
    <Youtube />
  </section> -->

  <section class="py-32 lg:py-48 bg-[#f3f3f3]">
    <Feedback />
  </section>

  <section class="py-32 lg:py-48">
    <Newsletter />
  </section>
</Layout>
