---
import Layout from "../layouts/Layout.astro";
import Banner from "../partials/home/Banner.astro";
import Feedback from "../partials/home/Feedback.astro";
import Newsletter from "../partials/home/Newsletter.astro";
import Youtube from "../partials/home/Youtube.astro";
import Courses from "../partials/home/Courses.astro";
import Numbers from "@partials/home/Numbers.astro";
import First from "@partials/home/First.astro";
---

<Layout title="Home">
  <Banner />

  <section class="page-section">
    <Numbers />
  </section>

  <section class="page-section">
    <First />
  </section>

  <section scroll-target="courses-section" class="page-section">
    <Courses />
  </section>

  <!-- <section class="page-section  ">
    <Youtube />
  </section> -->

  <section class="page-section">
    <Feedback />
  </section>

  <section class="page-section">
    <Newsletter />
  </section>
</Layout>
