---
import Layout from "../layouts/Layout.astro";
import FirstSection from "../partials/home/FirstSection.astro";
import Banner from "../partials/home/Banner.astro";
---

<Layout title="Welcome to Astro.">
  <Banner />
  <!-- <main>
    <FirstSection />  
    <FirstSection />
    <FirstSection />
    <FirstSection />
    <FirstSection />
    <FirstSection />
    <FirstSection />
    <FirstSection />
    <FirstSection />
    <FirstSection />
  </main> -->
</Layout>
