---
import Layout from "../layouts/Layout.astro";
import Banner from "../partials/home/Banner.astro";
import Feedback from "../partials/home/Feedback.astro";
import Newsletter from "../partials/home/Newsletter.astro";
import Why from "../partials/home/why/Why.astro";
import Youtube from "../partials/home/Youtube.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Banner />
    <Why />
    <Youtube />
    <Feedback />
    <Newsletter />
  </main>
</Layout>
