---
import Layout from "../layouts/Layout.astro";
import Banner from "../partials/home/Banner.astro";
import Why from "../partials/home/Sections/Why.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Banner />
    <Why />
  </main>
</Layout>
