---
import Layout from "../layouts/Layout.astro";
import Banner from "../partials/home/Banner.astro";
import Feedback from "../partials/home/Feedback.astro";
import Newsletter from "../partials/home/Newsletter.astro";
import Youtube from "../partials/home/Youtube.astro";
---

<Layout title="Home">
  <Banner />

  <section class="py-32 lg:py-48 bg-[#f3f3f3]">
    <Youtube />
  </section>

  <section class="py-32 lg:py-48">
    <Feedback />
  </section>

  <section class="py-32 lg:py-48 bg-[#f3f3f3]">
    <Newsletter />
  </section>
</Layout>
