---
import Layout from "../layouts/Layout.astro";
import Newsletter from "../partials/home/Newsletter.astro";
---

<Layout title="Home">
  <section class="pt-32 lg:pt-56 lg:pb-28">
    <Newsletter />
  </section>
</Layout>
