---
const { url } = Astro.props;
---

<a class="button font-inter text-light" href={url}>
  <slot />
</a>

<style lang="scss">
  .button {
    display: flex;
    padding: 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-radius: 74px;

    &:hover {
      border-radius: 74px;
      background: rgba(51, 64, 71, 0.88);
    }
  }
</style>
