---
import CourseLayout from "@layouts/CourseLayout.astro";
import AddAtendeeModal from "@partials/shared/add-atendee-modal/add-atendee-modal.astro";
import ContentContainer from "@shared/containers/ContentContainer.astro";
import { Image } from "astro:assets";
import Cube from "./assets/code-universe-banner.png";

const layoutProps = {
  title: "Code Universe",
  description:
    "Pare de se sentir perdido: descubra o passo a passo definitivo para ir de júnior a sênior muito mais rápido.",
  url: Astro.url.href,
  image: Astro.url.origin + "/images/events/code-universe-25/banner-image-code-universe2.jpg",
};
---

<CourseLayout {...layoutProps}>
  <div class="relative">
    <div
      class="absolute top-0 left-0 w-full h-full opacity-10 bg-[url(/images/home/code-banner-bg-1000px.png)] bg-repeat-space"
    >
    </div>

    <ContentContainer>
      <div class="h-[calc(100vh_-_105px)] xl:h-[calc(100vh_-_90px)] flex flex-col justify-center relative -mt-6">
        <div class="flex justify-center xl:justify-start z-20">
          <div
            class="w-full max-w-[630px] flex flex-col justify-center text-center xl:text-start items-center xl:items-start"
          >
            <span
              class="text-xl font-bold bg-gradient-to-br from-indigo-500 to-stone-900 bg-clip-text text-transparent"
            >
              Code Universe
            </span>

            <h1 class="hero-title mt-8">Plano de Carreira Dev <span class="angular-font-color">Angular</span></h1>

            <p class="hero-description mt-8 text-black">
              Pare de se sentir perdido: descubra o passo a passo definitivo para ir de júnior a sênior muito mais
              rápido.
            </p>

            <div
              class="flex flex-col sm:flex-row items-center justify-center mt-8 p-2 rounded-xl bg-[rgba(255,0,0,0.11)]"
            >
              <div class="flex items-center justify-center">
                <div class="bg-[rgba(255,0,0,0.20)] w-5 h-5 rounded-full mr-2 flex items-center justify-center">
                  <div class="bg-red-500 w-3 h-3 rounded-full"></div>
                </div>

                <strong class="text-error sm:after:content-[':']">EVENTO AO VIVO</strong>
              </div>

              <div class="ml-0 sm:ml-2 mt-1 sm:mt-0">Quinta-feira, 27/11 às 19h</div>
            </div>

            <div class="flex w-full justify-center xl:justify-start mt-8">
              <button id="add-atendee" class="btn btn-primary w-full max-w-[300px]"
                >GARANTIR MINHA VAGA GRATUITA !</button
              >
            </div>
          </div>
        </div>

        <Image
          src={Cube}
          alt="Cubo"
          class="hidden xl:block xl:max-w-[600px] 3xl:max-w-[650px] absolute w-full xl:opacity-100 right-0 3xl:-right-20"
        />
      </div>
    </ContentContainer>
  </div>

  <AddAtendeeModal
    mailingListId="1098078"
    btnSelector="#add-atendee"
    redirectUrl="/eventos/code-universe-25/obrigado"
  />
</CourseLayout>
