---
import CourseLayout from "@layouts/CourseLayout.astro";
import ContentContainer from "@shared/containers/ContentContainer.astro";
import { whatsAppGroupLinks } from "./data";

const layoutProps = {
  title: "Code Universe - Inscrição Confirmada",
  description:
    "Inscrição confirmada para o Code Universe! Acesse o grupo VIP no WhatsApp para não perder nenhuma atualização e ter acesso a conteúdos exclusivos.",
  url: Astro.url.href,
  image: Astro.url.origin + "/images/events/code-universe-25/banner-image-code-universe2.jpg",
};
---

<CourseLayout {...layoutProps}>
  <ContentContainer>
    <div class="flex justify-center mt-4 xl:mt-20">
      <div class="w-full flex flex-col items-center justify-center max-w-[680px]">
        <h1 class="hero-title mb-12 text-center">Sua Inscrição está QUASE finalizada!</h1>

        <div class="mb-12 relative w-full flex items-center justify-center">
          <div class="absolute top-[-3px] text-white z-10">90%</div>
          <progress class="progress progress-primary w-full h-5" value="90" max="100"></progress>
        </div>

        <p class="hero-description mb-12 text-black text-center">
          Agora, o último passo é entrar no nosso grupo VIP do WhatsApp para não perder nenhuma atualização e ter acesso
          a conteúdos especiais.
        </p>

        <div class="flex justify-center w-full max-w-[350px]">
          <a class="btn btn-primary w-full" href={whatsAppGroupLinks.marketingCampaign}> Entrar no Grupo VIP! </a>
        </div>
      </div>
    </div>
  </ContentContainer>
</CourseLayout>
