---
import ScrollToPricesButton from "@partials/angular-moderno/shared/scroll-to-prices-button.astro";
import Details from "./details.astro";
import RealApplication from "./real-application.astro";
---

<RealApplication />

<div class="flex justify-center mt-8">
  <Details />
</div>

<div class="flex justify-center mt-16">
  <ScrollToPricesButton />
</div>
