---
import ContentContainer from "./../../shared/containers/ContentContainer.astro";
---

<ContentContainer>
  <div
    class="h-[calc(100vh_-_105px)] xl:h-[calc(100vh_-_90px)] flex flex-col justify-center relative -mt-6"
  >
    <div class="flex justify-center xl:justify-start z-20">
      <div
        class="w-full max-w-[630px] flex flex-col justify-center text-center xl:text-start"
      >
        <h1 class="text-5xl font-bold">
          Alcance o próximo nível
          <div>na sua carreira!</div>
        </h1>

        <p class="text-xl py-16 xl:py-10 text-black">
          Na <strong class="text-primary">Code Dimension</strong> você encontra todos
          os cursos necessários para se tornar uma pessoa desenvolvedora <strong
            class="angular-font-color">Angular</strong
          > de <strong>alto nível</strong>.
        </p>

        <div class="flex w-full justify-center xl:justify-start">
          <button
            class="btn btn-primary w-full max-w-[300px]"
            scroll-to="courses-section">Confira nossos cursos!</button
          >
        </div>
      </div>
    </div>
    <img
      src="/images/home/banner-image.webp"
      class="hidden xl:block max-w-[650px] absolute w-full opacity-10 xl:opacity-100 xl:-right-20 rounded-bl-[137px] rounded-br-[116px] -mt-[60px]"
    />

    <div class="flex justify-center bottom-0 absolute w-full">
      <i class="bi bi-arrow-down-circle text-2xl text-primary animate-bounce"
      ></i>
    </div>
  </div>
</ContentContainer>
