---
import ContentContainer from "../../shared/containers/ContentContainer.astro";
---

<section>
  <ContentContainer>
    <div class="flex flex-col items-center">
      <div class="max-w-[780px] w-full">
        <h1 class="text-[32px] font-bold text-center">
          Olha só os cursos que fizemos exclusivamente para você!
        </h1>

        <p class="text-[18px] leading-relaxed text-center mt-8">
          Nossa meta é te ensinar como se tornar uma pessoa desenvolvedora <strong
            class="underlined underlined-red">Angular</strong
          >
          de altíssimo nível através de cursos que são realmente relevantes!
        </p>
      </div>
      <div class="mt-28 flex justify-center">
        <div class="card max-w-[350px] w-full bg-base-100 shadow-xl">
          <figure><img src="/images/courses/ng17.png" alt="Shoes" /></figure>
          <div class="card-body">
            <div class="badge badge-accent">Gratuito</div>

            <h2 class="card-title">Curso de Angular 17</h2>

            <p class="mt-3">
              Construa uma aplicação para gerenciar produtos e aprenda conceitos
              fundamentais amplamente usados pelo mercado.
            </p>

            <div class="card-actions mt-3">
              <a class="btn btn-primary w-full" href="https://www.youtube.com/playlist?list=PLXEUJjGpEX7zwdFSAzIPiSf9p0tOeI1Yu">Assistir curso!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ContentContainer>
</section>
