---
import ContentContainer from "../../shared/containers/ContentContainer.astro";
import LeftSection from "../../shared/sections/LeftSection.astro";
import RightSection from "../../shared/sections/RightSection.astro";
---

<ContentContainer>
  <section data-aos="fade-up">
    <LeftSection
      imageUrl="/images/home/why/robot.svg"
      imageAltText="Big Company Image"
    >
      <Fragment slot="title">Desenvolvimento de aplicações modernas</Fragment>

      <Fragment slot="text">
        <strong class="underlined underlined-red">Angular</strong> permite criar aplicativos web modernos, responsivos e com
        recursos avançados, como roteamento, animações e suporte para
        desenvolvimento mobile.
      </Fragment>
    </LeftSection>
  </section>

  <section class="pt-24" data-aos="fade-up" data-aos-delay="500">
    <RightSection
      imageUrl="/images/home/why/tools.svg"
      imageAltText="Ferramentas"
    >
      <Fragment slot="title">Ferramentas e ecossistema robustos</Fragment>

      <Fragment slot="text">
        <strong class="underlined underlined-red">Angular</strong> possui um ecossistema rico em ferramentas, bibliotecas e
        recursos adicionais que podem aumentar sua produtividade e facilitar o
        desenvolvimento de aplicativos web.
      </Fragment>
    </RightSection>
  </section>

  <section class="pt-24" data-aos="fade-up" data-aos-delay="500">
    <LeftSection imageUrl="/images/home/why/test.svg" imageAltText="Testes">
      <Fragment slot="title">Testabilidade e manutenibilidade</Fragment>

      <Fragment slot="text">
        <strong class="underlined underlined-red">Angular</strong> promove a escrita de código testável e modular, facilitando a
        criação de testes automatizados e a manutenção do código ao longo do
        tempo.
      </Fragment>
    </LeftSection>
  </section>

  <section class="pt-24" data-aos="fade-up" data-aos-delay="500">
    <RightSection
      imageUrl="/images/home/why/trust.svg"
      imageAltText="Confiança"
    >
      <Fragment slot="title">Suporte e atualizações contínuas</Fragment>

      <Fragment slot="text">
        <strong class="underlined underlined-red">Angular</strong> é mantido pelo Google, o que significa que você terá acesso a
        suporte técnico de alta qualidade e atualizações regulares para manter
        seus conhecimentos atualizados.
      </Fragment>
    </RightSection>
  </section>
</ContentContainer>
