---
import SubstackForm from "../../shared/forms/substack-form.astro";
---
<section class="flex justify-center w-full py-[64px] px-[120px]">
  <div class="w-full max-w-[640px]">
    <h1 class="font-inter text-[72px] font-semibold text-light text-center leading-[100%]">
      Uma comunidade de tecnologia
    </h1>

    <h2
      class="font-inter text-[20px] font-normal text-light leading-[150%] mt-[24px]"
    >
      A Code Dimension é uma comunidade feita por um desenvolvedor e um
      designer, para desenvolvedores e designers no mundo todo.
    </h2>

    <div class="flex mt-[32px] justify-center">
      <SubstackForm />
    </div>
  </div>
</section>
