---
import ContentContainer from "../../shared/containers/ContentContainer.astro";
import NewsletterForm from "../../shared/forms/NewsletterForm.astro";
---

<ContentContainer>
  <div class="flex flex-col items-center">
    <div class="max-w-[780px] w-full flex flex-col items-center">
      <h1 class="section-title font-bold text-center">
        Fique por dentro das nossas novidades
      </h1>

      <p class="section-description text-center mt-8 w-full max-w-[650px]">
        Assine nossa newsletter e fique sempre sabendo dos nossos novos cursos, promoções, vídeos, lives e muito mais! 
      </p>

      <div class="mt-12 flex justify-center">
        <div class="w-full max-w-[350px]">
          <NewsletterForm />
        </div>
      </div>
    </div>
  </div>
</ContentContainer>
