---
import ContentContainer from "../../shared/containers/ContentContainer.astro";
---

<ContentContainer>
  <div class="flex flex-col items-center text-center">
    <p class="text-xl xl:text-2xl ">
      <strong class="underlined undelined-red">Angular</strong> é utilizado amplamente por grandes empresas do Brasil e do mundo.
    </p>
    <p class="text-xl mt-6 xl:text-2xl ">
      E essa preferência tem um porquê!
    </p>
  </div>
</ContentContainer>
