---
---

<div id="custom-substack-embed"></div>

<script>
  (window as any).CustomSubstackWidget = {
    substackUrl: "codedimension.substack.com",
    placeholder: "Digite seu e-mail",
    buttonText: "Assinar Newsletter",
    theme: "custom",
    colors: {
      primary: "rgba(51,64,71,0.4)",
      input: "#111518",
      email: "#FFFFFF",
      text: "#FFFFFF",
    },
  };
</script>

<script src="/scripts/substackapi.widget.js" async></script>
