---
import Head from "../partials/head/Head.astro";
import GlobalStyles from "../partials/global-styles/GlobalStyles.astro";
import GtmNoScript from "@partials/body/gtm-no-script.astro";

const params = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <Head {...params} />
  <GlobalStyles />

  <body class="">
    <main>
      <slot />
    </main> 

    <GtmNoScript />
  </body>
</html>
