---
import Head from "../partials/head/Head.astro";
import GlobalStyles from "../partials/global-styles/GlobalStyles.astro";
import GtmNoScript from "@partials/body/gtm-no-script.astro";

const params = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <Head {...params} />
  <GlobalStyles />

  <body class="">
    <main>
      <slot />
    </main>

    <GtmNoScript />

    <script>
      import "promise-polyfill/src/polyfill";
    </script>
  </body>
</html>
