---
import Head from "../partials/head/Head.astro";
import Header from "../partials/header/Header.astro";
import GlobalStyles from "../partials/global-styles/GlobalStyles.astro";
---

<!DOCTYPE html>
<html lang="pt-br">
  <Head />
  <GlobalStyles />

  <body class="bg-website">
			<Header />
			<slot />
  </body>
  
</html>
