---
import Head from "../partials/head/Head.astro";
import Header from "../partials/header/Header.astro";
import Footer from "../partials/footer/Footer.astro";
import GlobalStyles from "../partials/global-styles/GlobalStyles.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <Head title={title} />
  <GlobalStyles />

  <body class="">
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
