---
import Head from "../partials/head/Head.astro";
import Header from "../partials/header/Header.astro";
import Footer from "../partials/footer/Footer.astro";
import GlobalStyles from "../partials/global-styles/GlobalStyles.astro";
import WhatsappButton from "@shared/buttons/WhatsappButton.astro";

const params = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <Head {...params} />
  <GlobalStyles />

  <body class="">
    <Header />

    <main>
      <slot />
    </main> 

    <WhatsappButton />

    <Footer />
  </body>
</html>
