---
import Head from "../partials/head/Head.astro";
import Header from "../partials/header/Header.astro";
import Footer from "../partials/footer/Footer.astro";
import GlobalStyles from "../partials/global-styles/GlobalStyles.astro";
---

<!DOCTYPE html>
<html lang="pt-BR">
  <Head />
  <GlobalStyles />

  <body class="bg-website">
			<Header />
			<slot />
      <Footer />
  </body>
  
</html>
