---
import Head from "../partials/head/Head.astro";
import Header from "../partials/header/Header.astro";
import Footer from "../partials/footer/Footer.astro";
import GlobalStyles from "../partials/global-styles/GlobalStyles.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <Head title={title} />
  <GlobalStyles />

  <body class="bg-website">
    <Header />

    <main
      class="bg-gradient-to-b from-lightDarkRedAlpha03 from-20% via-lightDarkBlueAlpha03 via-30% to-darkBlue to-70%"
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
