---
import Head from "../partials/head/Head.astro";
import Header from "../partials/header/Header.astro";
import Footer from "../partials/footer/Footer.astro";
import GlobalStyles from "../partials/global-styles/GlobalStyles.astro";
import GTMNoScript from "../partials/gtm-no-script/gtm-no-script.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <Head title={title} />
  <GlobalStyles />

  <body class="bg-website">
    <GTMNoScript />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
